<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error page</title>
</head>
<body>


<div class="page-header">
    <div title="Home page">
        <a href="/" th:href="@{/}">
            <img class="home-img" src="../static/images/home-50.png" th:src="@{/images/home-50.png}"/>
        </a>
    </div>

    <div class="dropdown" title="Setting">
        <img class="setting-img" src="../static/images/settings-50.png" th:src="@{/images/settings-50.png}"/>
        <div class="dropdown-content">
            <a href="#">H2 - console</a>
            <a href="#">Language</a>
        </div>
    </div>
</div>

</body>
</html>