<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book library</title>

    <style type="text/css">
        .row {
            margin-top: 10px;
        }
    </style>

    <script>

        window.onload = () => {
            renderBooks();
        }

        function getURI() {
            return 'http:://localhost:8080/'
        }

        function renderComments(bookId) {
            fetch('/book/' + bookId + '/comment')
                .then(response => response.json())
                .then(json => {
                    let comment_tbody = document.getElementById('comments_tbody')
                    comment_tbody.innerHTML = ''

                    for (let i = 0; i < json.length; i += 1) {
                        let comment_tbody_tr = document.createElement('tr')

                        let comment_tbody_tr_id = document.createElement('td')
                        comment_tbody_tr_id.innerText = json[i].id

                        let comment_tbody_tr_title = document.createElement('td')
                        comment_tbody_tr_title.innerText = json[i].comment

                        comment_tbody.appendChild(comment_tbody_tr)
                        comment_tbody_tr.appendChild(comment_tbody_tr_id)
                        comment_tbody_tr.appendChild(comment_tbody_tr_title)
                    }
                })
        }

        function renderBooks() {

            fetch('/book')
                .then(response => response.json())
                .then(json => {

                    let book_tbody = document.getElementById('book_tbody')
                    book_tbody.innerHTML = ''

                    for (let i = 0; i < json.length; i += 1) {
                        let book_tbody_tr = document.createElement('tr')

                        let book_tbody_tr_id = document.createElement('td')
                        book_tbody_tr_id.innerText = json[i].id

                        let book_tbody_tr_title = document.createElement('td')
                        book_tbody_tr_title.innerText = json[i].title

                        let book_tbody_tr_author = document.createElement('td')
                        book_tbody_tr_author.innerText = json[i].author.fullName

                        let book_tbody_tr_genre = document.createElement('td')
                        book_tbody_tr_genre.innerText = json[i].genre.genreName

                        let book_tbody_tr_details = document.createElement('td')
                        let book_tbody_tr_details_button = document.createElement('button')
                        book_tbody_tr_details_button.onclick = 'renderComments(json[i].id)'
                        book_tbody_tr_details_button.innerText = 'Details'

                        book_tbody_tr_details.appendChild(book_tbody_tr_details_button)

                        let book_tbody_tr_delete = document.createElement('td')
                        book_tbody_tr_delete.innerText = 'delete'

                        book_tbody.appendChild(book_tbody_tr)
                        book_tbody_tr.appendChild(book_tbody_tr_id)
                        book_tbody_tr.appendChild(book_tbody_tr_title)
                        book_tbody_tr.appendChild(book_tbody_tr_author)
                        book_tbody_tr.appendChild(book_tbody_tr_genre)
                        book_tbody_tr.appendChild(book_tbody_tr_details)
                        book_tbody_tr.appendChild(book_tbody_tr_delete)

                    }
                })
        }

    </script>

</head>


<body>

<div id="book_div">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Genre</th>
            <th>Details</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody id="book_tbody">

        </tbody>
    </table>

</div>

<div id="comments_div">

    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Comment</th>
        </tr>
        </thead>
        <tbody id="comments_tbody">

        </tbody>
    </table>

</div>

<div id="book_details_div">

    <form id="book_details_form">

        <div class="row">
            <label for="input_id">ID</label>
            <input id="input_id">
        </div>

        <div class="row">
            <label for="input_title">Title</label>
            <input id="input_title">
        </div>

        <div class="row">
            <label for="input_genre">Genre</label>
            <input id="input_genre">
        </div>

        <div class="row">
            <label for="input_author">Author</label>
            <input id="input_author">
        </div>

    </form>

</div>

</body>
</html>