<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Details</title>
    <style type="text/css">
        body {
            padding: 50px;
        }

        label {
            display: inline-block;
            width: 100px;
        }

        input:read-only {
            background: lightgray;
        }

        .row {
            margin-top: 10px;
        }
    </style>
</head>
<body>

<div class="create-line"></div>


<!-- Person edition -->
<form id="edit-form" action="edit.html" th:method="post" th:action="@{/}" th:object="${book}">
    <h3>Person Info:</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" value="1" th:value="*{id}"/>
    </div>

    <div class="row">
        <label for="person-name-input">Name:</label>
        <input id="person-name-input" name="name" type="text" value="John Doe" th:value="*{title}"/>
    </div>

    <div class="row">
        <label for="genre-select">Genre:</label>
        <select id="genre-select" th:field="${book.genre.id}">
            <option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.genreName}" th:selected="*{genre.id}"/>
        </select>
    </div>

    <div class="row">
        <label for="author-select">Author:</label>
        <select id="author-select" th:field="${book.author.id}">
            <option th:each="author : ${authors}" th:value="${author.id}" th:text="${author.fullName}" th:selected="*{author.id}"/>
        </select>
    </div>


    <div class="row">
        <button type="submit">Save</button>
        <a href="list.html" th:href="@{/}"><button type="button">Cancel</button></a>
        <button type="reset">Restore changes</button>
        <button type="button">Delete</button>
    </div>
</form>

</body>
</html>
