.page-header {
    width: 100%;
    background-color: #2fdc8c;
    height: 40px;
    display: flex;
}

.setting-button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.setting-img {
    margin-top :10px;
    max-width: 50%;
    max-height: 50%;
}

.home-img {
    margin-top :10px;
    margin-left :4px;
    max-width: 50%;
    max-height: 50%;
}

.dropdown-content {
    margin-top: 12%;
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content a {
    color: black;
    padding: 5px 5px;
    text-decoration: none;
    display: block;
    font-family: 'Arial', 'Verdana', sans-serif;
    font-size: 14px;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.books {
    border: 1px solid steelblue;
    width: 200px;
    border-collapse: collapse;
}

.authors-table {
    border: 1px solid steelblue;
    width: 200px;
    border-collapse: collapse;
}

.authors-table tr td, th {
    padding: 5px;
    border: 1px solid steelblue;
}

.books tr td, th {
    padding: 5px;
    border: 1px solid steelblue;
}

.books td {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.books td:last-child, td:first-child {
    width: 50px;
}

input, label {
    display:block;
}
